<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content>
  <br><br>
    <div *ngFor="let persona of (personas | slice:personas.length - 3)" [routerLink]="['/', persona.user]">

      <ion-title class="ion-text-center">Bienvenido {{persona.user}}</ion-title>

    </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="qr">
    <ion-tab-button (click)="qr()" tab="qr-page">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Código QR</ion-label>
    </ion-tab-button>


    <ion-tab-button (click)="settings()" tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configuraciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>