<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ingresar"></ion-back-button>
    </ion-buttons>
    <ion-title class="welcomemsg">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<br><br>

<ion-row class="ion-align-items-center">
  <ion-col class="ion-align-self-center">
    <div>
      <ion-text color="primary" class="ion-text-center">
        <h1>Ingrese el correo asociado a la cuenta</h1>
      </ion-text>
    </div>
  </ion-col>
</ion-row>

<ion-content>
  
  <br><br>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-align-self-center">
      <div>
        <ion-item lines="full" class="roundedInput">
          <ion-label position="floating">Correo de recuperación</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      </div>

  <br><br>
  <br>
      <ion-button (click)=recover() type="submit" color="danger" expand="block">Recuperar contraseña</ion-button>
  </ion-col>
</ion-row>

</ion-content>
